body{

				background-image:url('Nani.png');
				background-repeat:no-repeat;
				background-size:cover;
				}
				
				
			#Heading{
					font-size:30px;
					margin:0px 0px 0px 1300px;
					background-color:lightblue;
					display:inline-block;
  					padding:8px 16px;
  					text-decoration:none;
  					text-align:center;
					}
					
			#eshu
				{
				font-size:30px;
				background-color:lightblue;
				display:inline-block;
  				padding:8px 16px;
  				text-decoration:none;
  				color:white;
  				text-align:center;
				}
				
			h1  
				{
				Padding-left:400px;
				font-size:70px;
				margin-bottom:1000px;
				color:DodgerBlue;
				}
			#p
				{
				padding-left:500px;
				font-size:40px
				}