<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="AddBook.css"></link>
		<title>Insert title here</title>
	</head>
	<body>
		<h1>Add Book Details</h1>

			<table>
					<tr>
						<td class="abc">AddBooK</td>
						<td><input type="name"></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
	
					<tr>
						<td class="abc">Book titile</td>
						<td><input type="name"></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
	
					<tr>
						<td class="abc">Book Author</td>
						<td><input type="name"></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
	
					<tr>
						<td class="abc">Edition</td>
						<td><input type="name"></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
	
					<tr>
						<td class="abc">price</td>
						<td><input type="name"></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
	
					<tr>
						<td class="abc">Type</td>
						<td><input type="name"></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					
					
					
			</table>
			<input type="submit" value="Update" class="es">
	</body>
</html>