body
{
background-image:url('qwer.jpg');
background-repeat:no-repeat;
background-size:cover;
height:160;
}


h1
{
	background-color:black;
	margin-left:100px;
	color:Blue;
	padding: 5px 8px;
	height: 50px;
	width: 275px;
	box-sizing: border-box;
}
table
{
	background-color:black;
	margin-left:100px;
	margin-top:200px;
	width:400px;
	opacity:0.5;
   	height: 450px;
	width: 500px;
   	top: 10%;
   	left: 10%;
   	position: absolute;
   	transform: translate(-50%,-50%);
	box-sizing: border-box;
   	padding: 70px 30px;
}


.abc
{
	color:white;
	font-size:20px;
}

input
{
	margin-left:1px;
	width:250px;
	height:30px;
	border-radius:5px;
}

.es
{
	color:black;
	background-color:#FFF5EE;
	text-alignment:center;
	margin-left:120px;
	margin-top:350px;
	width:150px;
	height:40px;
	border-radius:20px;
	font-size:18px;
}