<html>
<head>
<link rel="stylesheet" href="login.css"></link>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /> 
<head>
<body>
	<form action="us">
	<strong><h>Library Managment System</h></strong>
			<div id="abc">
					
						<h1>UserName</h1>
						<input placeholder="UserName" name="us"> 
						<br><br>
						<h2>PassWord</h2>
						<input type="password" placeholder="PassWord" name="ps">
						<br><br> 
						<input type="submit" value="login" id="xyz"> <br>
						<br><br> 
						<a href="forgot.html" id="xy"> <i class="fa fa-user-o">Lost your password?</a></i>
						<br> <br>
						<a href="SignIn.html" id="pq">Dont have an account?</a>
			</div>
		</form>
	<body>
<html>