table
{
	background-color:PeachPuff;
   	height: 250px;
	width: 650px;
   	margin-left:900px;
   	margin-top:140px;
   	position: absolute;
   	transform: translate(-50%,-50%);
	box-sizing: border-box;
   	padding: 50px 30px;
   	border-radius:65px;
}
h1
{
	margin-left:650px;
	margin-top:170px;
	color:black;
	font-size:45px;
}

