<html>
<head>
<title></title>
<link rel="stylesheet" href="SignIn.css"></link>
</head>
<body>


		<h1>Registration Form</h1>
<form action="signup">
		<div id="chintu">
				
			<table>
				<tr>

					<td>Email:</td>
					<td><input type="text" name="em" Placeholder="UserName"></td>

				</tr>


				<tr>
					<td>name:</td>
					<td><input type="text" name="nm" Placeholder="PassWord"></td>
				</tr>

				<tr>
					<td>password:</td>
					<td><input type="text" name="ps" Placeholder="PassWord"></td>
				</tr>

				<tr>
					<td><input type="submit" value="register"></td>

				</tr>

			</table>
		</div>
		</form>
<body>
</html>